<div class="row">
  <div class="col-md-4 col-md-offset-1">

    <section class="container">
      <div class="page-header text-center">
        <h1>Sistema de Ticket <small>ORION</small></h1>
      </div>
    </section>
    <hr/>

    <div class="container">



      <form class="form-group" id="form-login">
        <h2 class="form-signin-heading">Autenticación</h2>
        <label for="inputEmail" class="sr-only">Correo Corporativo</label>
        <input type="email" id="username" name="_username" class="form-control" [(ngModel)]="user.username" placeholder="Correo Corporativo"
          required>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="password" name="_password" class="form-control" [(ngModel)]="user.password" placeholder="Contraseña"
          required>
        <div class="checkbox">
          <label>
        <!--<input type="checkbox" value="remember-me"> Recordarme-->
      </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Iniciar</button>
      </form>
    </div>
  </div>
</div>