<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a>Home</a></li>
      <li><a (click)="goClientes()">Clientes</a></li>
      <li><a (click)="goTicket()">Crear Ticket</a></li>
      <li><a (click)="goListTicket()">Listar Mis Ticket</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


<!--<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Toggle
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-block">
      You can collapse this card by clicking Toggle
    </div>
  </div>
</div>-->