@font-face {
	font-family: 'igrowl-linecons';
	src:url('../fonts/linecons/igrowl-linecons.eot?-d5tr08');
	src:url('../fonts/linecons/igrowl-linecons.eot?#iefix-d5tr08') format('embedded-opentype'),
		url('../fonts/linecons/igrowl-linecons.woff?-d5tr08') format('woff'),
		url('../fonts/linecons/igrowl-linecons.ttf?-d5tr08') format('truetype'),
		url('../fonts/linecons/igrowl-linecons.svg?-d5tr08#igrowl-linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="i-linecons-"], [class*=" i-linecons-"]  {
	font-family: 'igrowl-linecons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-rendering: optimizeLegibility;
	font-size: 3.2rem;
}

.i-times:before {
	content: "\e600";
}
.i-linecons-heart:before {
	content: "\e601";
}
.i-linecons-cloud:before {
	content: "\e602";
}
.i-linecons-star:before {
	content: "\e603";
}
.i-linecons-tv:before {
	content: "\e604";
}
.i-linecons-sound:before {
	content: "\e605";
}
.i-linecons-video:before {
	content: "\e606";
}
.i-linecons-trash:before {
	content: "\e607";
}
.i-linecons-user:before {
	content: "\e608";
}
.i-linecons-key:before {
	content: "\e609";
}
.i-linecons-search:before {
	content: "\e60a";
}
.i-linecons-settings:before {
	content: "\e60b";
}
.i-linecons-camera:before {
	content: "\e60c";
}
.i-linecons-tag:before {
	content: "\e60d";
}
.i-linecons-lock:before {
	content: "\e60e";
}
.i-linecons-bulb:before {
	content: "\e60f";
}
.i-linecons-pen:before {
	content: "\e610";
}
.i-linecons-diamond:before {
	content: "\e611";
}
.i-linecons-display:before {
	content: "\e612";
}
.i-linecons-location:before {
	content: "\e613";
}
.i-linecons-eye:before {
	content: "\e614";
}
.i-linecons-bubble:before {
	content: "\e615";
}
.i-linecons-stack:before {
	content: "\e616";
}
.i-linecons-cup:before {
	content: "\e617";
}
.i-linecons-phone:before {
	content: "\e618";
}
.i-linecons-news:before {
	content: "\e619";
}
.i-linecons-mail:before {
	content: "\e61a";
}
.i-linecons-like:before {
	content: "\e61b";
}
.i-linecons-photo:before {
	content: "\e61c";
}
.i-linecons-note:before {
	content: "\e61d";
}
.i-linecons-clock:before {
	content: "\e61e";
}
.i-linecons-paperplane:before {
	content: "\e61f";
}
.i-linecons-params:before {
	content: "\e620";
}
.i-linecons-banknote:before {
	content: "\e621";
}
.i-linecons-data:before {
	content: "\e622";
}
.i-linecons-music:before {
	content: "\e623";
}
.i-linecons-megaphone:before {
	content: "\e624";
}
.i-linecons-study:before {
	content: "\e625";
}
.i-linecons-lab:before {
	content: "\e626";
}
.i-linecons-food:before {
	content: "\e627";
}
.i-linecons-t-shirt:before {
	content: "\e628";
}
.i-linecons-fire:before {
	content: "\e629";
}
.i-linecons-clip:before {
	content: "\e62a";
}
.i-linecons-shop:before {
	content: "\e62b";
}
.i-linecons-calendar:before {
	content: "\e62c";
}
.i-linecons-wallet:before {
	content: "\e62d";
}
.i-linecons-vynil:before {
	content: "\e62e";
}
.i-linecons-truck:before {
	content: "\e62f";
}
.i-linecons-world:before {
	content: "\e630";
}
