<div class="page-content-wrap" style="padding-left: 100px; padding-right: 100px;">

    <!-- NOVEDADES -->

    <div class="row">
        <div class="page-title">
            <h2> <i class="fa fa-keyboard-o"></i> Lista de mis ticket</h2>
            <!--<h6 align="right">Listado de campos dinámicos creados en el sistema</h6>-->
        </div>
    </div>
    <div class="block">
        <!--<form role="form" class="form-horizontal">
            <div class="col-lg-5">
                <label class="col-md-3 control-label">Nombre</label>
                <div class="col-lg-9">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-primary">Buscar</button>
            </div>
        </form>-->
    </div>
    <hr>
    <!-- START RESPONSIVE TABLES -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-5 col-md-offset-9">


                                <div class="col-md-4">
                                    <div id="habilitar" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-danger mb-control" data-box="#eliminar"><i class="fa fa-trash-o" aria-hidden="true"></i>
									Eliminar </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <table-list-fields-root></table-list-fields-root> -->
                            <div class="table-responsive">
                                <br/>
                                <table class="table table-bordered table-actions">

                                    <thead>
                                        <tr>
                                            <th>Sucursal</th>
                                            <th>Estado</th>
                                            <th>Comentario</th>
                                            <th>Fecha Creación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let obj of list">
                                            <td>{{obj.sucursal}}</td>
                                            <td>{{obj.userTechnical}}</td>
                                            <td> {{obj.comment}} </td>
                                            <td> {{obj.dateCreated}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END RESPONSIVE TABLES -->

    </div>
</div>