<div class="page-content-wrap" style="padding-left: 100px; padding-right: 100px;">

    <!-- NOVEDADES -->

    <div class="row">
        <div class="page-title">
            <h2><i class="fa fa-check-square-o" aria-hidden="true"></i> Listado de Clientes</h2>

        </div>
    </div>
    <div class="block">

        <form role="form" class="form-horizontal">


            <div class="row">
                <div class="col-xs-12">
                    <div class="col-lg-4 col-xs-9">

                        <label class="col-xs-1 control-label">Rut</label>
                        <div class="col-xs-10">
                            <div class="col-xs-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="212323" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-1">
                        <button type="button" class="btn btn-primary">Buscar</button>
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
        </form>


    </div>
    <hr>
    <!-- START RESPONSIVE TABLES -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-10">
                            <div class="pull-right">
                                <!--<h3 class="panel-title">
                                    <a href="exportar.xlsx" class="btn btn-default">
										<i class="fa fa-table" aria-hidden="true"></i> Exportar
									</a>
                                </h3>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-body-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                                <tr>

                                    <th>Rut</th>
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <!--<th>Tipo de servicio</th>
                                    <th>Clase</th>
                                    <th>Estado Registro</th>
                                    <th>Estado Inspección</th>
                                    <th>Estado Calidad</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>19115790-7</td>
                                    <td>Francisco</td>
                                    <td>Salas</td>
                                    <td>Lazcano</td>
                                </tr>
                                <tr>
                                    <td>19115790-5</td>
                                    <td>Guillermo</td>
                                    <td>Fermal</td>
                                    <td>Salinas</td>
                                </tr>
                                <tr>
                                    <td>19165793-2</td>
                                    <td>Andrés</td>
                                    <td>Correa</td>
                                    <td>Badilla</td>
                                </tr>
                                <tr>
                                    <td>19513740-K</td>
                                    <td>Joao</td>
                                    <td>Cariman</td>
                                    <td>Huemul</td>
                                </tr>
                                <tr>
                                    <td>17395791-6</td>
                                    <td>Gabriel</td>
                                    <td>Fernadez</td>
                                    <td>Toesca</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END RESPONSIVE TABLES -->
    <!--<div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <p>X de XX registros</p>
            </div>
            <div class="col-md-6">
                <div class="col-md-7 col-md-offset-5">
                    <div class="pull-right">
                        <ul class="pagination pagination-sm">
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>-->
</div>