<div class="page-content-wrap" style="padding-left: 100px; padding-right: 100px;">

    <!-- NOVEDADES -->

    <div class="row">
        <div class="page-title">
            <h2> <i class="fa fa-check-square"></i>Nuevo Ticket</h2>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label"> Sucursal </label>
                                        <div class="col-md-9">
                                            <div class="form-group">

                                                <select name="s" id="s" class="form-control" [(ngModel)]="ticket.sucursal">
                                                         <option [selected]="selected" [ngValue]="0" disabled >Seleccione</option>
                                                    <option    *ngFor="let obj of listSucursal" [ngValue]="obj.id" >  {{obj.name}} </option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label"> Prioridad </label>
                                        <div class="col-md-9">
                                            <select class="form-control" name="module" id="module" [(ngModel)]="ticket.priority">
                                                <option  [value]="0" > Seleccione</option>
                                              <option  [value]="1" >Alta</option>
                                              <option [value]="2" >Media </option>
                                              <option [value]="3" >Baja</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label"> Categoria </label>
                                        <div class="col-md-9">
                                            <select name="categoria" class="form-control" id="categoria" [(ngModel)]="ticket.category">
                                                <option [selected]="selected" [ngValue]="0" disabled >Seleccione</option>
                                              <option *ngFor="let obj of listCategory" [ngValue]="obj.id" > {{obj.name}} </option>
                                              
                                          </select>



                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="col-md-1 control-label"> Comentario </label>
                                        <div class="col-md-9">
                                            <textarea name="comment" id="comment" class="form-control" [(ngModel)]="ticket.comment" required></textarea>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-11">
                                        <a [routerLink]="['/mantenedor/roles-list']">Volver</a>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="button" (click)="save()" class="btn btn-primary mb-control">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-lg-1">
            <button type="button" onclick="mostrar()" class="btn btn-default">Definir Permisos</button>
        </div>
    </div> -->

    <!-- <div id='permisos' style='display:none;'>
        <div class="row">
            <div class="col-md-12">
                <h4> <strong>Nombre: </strong> Administrador -<strong> Módulo: </strong>Registro - <strong>Alcance:</strong> Regional</h4>
                <form class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Permisos</strong></h3>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="col-md-3 control-label">Categoría</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="Configuración" readonly="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label class="col-md-3 control-label">Sección</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="Plazos" readonly="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <a class="verde"> <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="rojo"><i class="fa fa-minus-circle  fa-2x" aria-hidden="true"></i></a>

                                </div>
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-actions">
                                    <thead>
                                        <tr>
                                            <th  class="text-center">
                                                <input type="checkbox" name="item" onClick="toggle(this) " />
                                            </th>

                                            <th>Categoría</th>
                                            <th>Sección</th>


                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td class="text-center"> <input type="checkbox" name="item" /> </td>
                                            <td></td>
                                            <td></td>

                                        </tr>

                                        <tr>
                                            <td class="text-center"> <input type="checkbox" name="item" /> </td>
                                            <td></td>
                                            <td></td>

                                        </tr>


                                    </tbody>
                                </table>
                                
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-10">
                                </div>
                                <div class="col-lg-1">
                                    <button type="button" class="btn btn-primary mb-control" data-box="#actualizar">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
</div>